@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #3d3d3d;
}
.dance,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
h1 {
  font-size: 2.25rem; /* 36px - mobile */
}

h2 {
  font-size: 2rem; /* 32px */
}

h3 {
  font-size: 1.75rem; /* 28px */
}

h4 {
  font-size: 1.25rem; /* 20px */
}

h5 {
  font-size: 1.125rem; /* 18px */
}

h6 {
  font-size: 1rem; /* 16px */
}

@media (min-width: 768px) {
  h1 {
    font-size: 3rem; /* 48px - tablet & up */
  }

  h2 {
    font-size: 2.5rem; /* 40px */
  }

  h3 {
    font-size: 2rem; /* 32px */
  }

  h4 {
    font-size: 1.5rem; /* 24px */
  }

  h5 {
    font-size: 1.25rem; /* 20px */
  }

  h6 {
    font-size: 1rem; /* 16px */
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
